Repository OptechX/library.apps, changes with the labels that .github/labeler.yml gives for each.
All labels: Microsoft, Security, Developer Tools, Education, Entertainment, Games, Internet, Lifestyle, Photo Design, Productivity, Utility, core-lib, Microsoft-365

.github/labeler.yml:

Microsoft:
- Microsoft/**/*

Security:
- Security/**/*

Developer Tools:
- Developer Tools/**/*

Education:
- Education/**/*

Entertainment:
- Entertainment/**/*

Games:
- Games/**/*

Internet:
- Internet/**/*

Lifestyle:
- Lifestyle/**/*

Photo Design:
- Photo Design/**/*

Productivity:
- Productivity/**/*

Utility:
- Utility/**/*

core-lib:
- lib/**/*

Microsoft-365:
- Microsoft-365/**/*

update json config
  Microsoft-365/config/config.json
Labels: Microsoft-365

add readme to subdir
  Microsoft-365/app/Microsoft 365 for Business/README.md
Labels: Microsoft-365

add business scripts
  Microsoft-365/app/Microsoft 365 for Business/install-m365-apps-enterprise-current-all.ps1
  Microsoft-365/app/Microsoft 365 for Business/install-m365-apps-enterprise-current-project.ps1
  Microsoft-365/app/Microsoft 365 for Business/install-m365-apps-enterprise-current-standard.ps1
  Microsoft-365/app/Microsoft 365 for Business/install-m365-apps-enterprise-current-visio.ps1
  Microsoft-365/app/Microsoft 365 for Business/x64.ps1
  Microsoft-365/app/Microsoft 365 for Business/x86.ps1
Labels: Microsoft-365

remove old files
  Configuration.xml
  Configuration3.xml
Labels: none

update readme
  Microsoft-365/app/Microsoft 365 for Business/README.md
Labels: Microsoft-365

add sub selections
  Microsoft-365/app/Microsoft 365 for Business/Sub-Selections/Single Apps/x64.ps1
  Microsoft-365/app/Microsoft 365 for Business/Sub-Selections/Single Apps/x86.ps1
  Microsoft-365/app/Microsoft 365 for Business/Sub-Selections/Update Channel/Monthly-Enterprise/x64.ps1
  Microsoft-365/app/Microsoft 365 for Business/Sub-Selections/Update Channel/Monthly-Enterprise/x86.ps1
  Microsoft-365/app/Microsoft 365 for Business/Sub-Selections/Update Channel/Semi-Annual/x64.ps1
  Microsoft-365/app/Microsoft 365 for Business/Sub-Selections/Update Channel/Semi-Annual/x86.ps1
Labels: Microsoft-365

manage updates
  .github/workflows/auto-pr-dev2build.yml
  Microsoft-365/app/Microsoft 365 for Business/Sub-Selections/Single Apps/install-m365-single-apps-business-current-standard.ps1
  Microsoft-365/app/Microsoft 365 for Business/Sub-Selections/Single Apps/x64.ps1
  Microsoft-365/app/Microsoft 365 for Enterprise/Sub-Selections/Single Apps/install-m365-single-apps-enterprise-current-standard.ps1
  Microsoft-365/app/Microsoft 365 for Enterprise/Sub-Selections/Single Apps/x64.ps1
  Microsoft-365/app/Microsoft 365 for Enterprise/Sub-Selections/Single Apps/x86.ps1
  Microsoft-365/app/Microsoft 365 for Enterprise/Sub-Selections/Update Channel/Monthly-Enterprise/x64.ps1
  Microsoft-365/app/Microsoft 365 for Enterprise/Sub-Selections/Update Channel/Monthly-Enterprise/x86.ps1
  Microsoft-365/app/Microsoft 365 for Enterprise/Sub-Selections/Update Channel/Semi-Annual/x64.ps1
  Microsoft-365/app/Microsoft 365 for Enterprise/Sub-Selections/Update Channel/Semi-Annual/x86.ps1
Labels: Microsoft-365

update token
  .github/workflows/auto-pr-dev2build.yml
Labels: none

try application category
  .github/workflows/branch-productivity.yml
  Productivity/Adobe/Acrobat Reader DC/x64.ps1
  lib/tranches/productivity.ps1
Labels: Productivity, core-lib
